body{
    background-color: aquamarine;
    overflow-x: hidden;
}
.i{
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    height: 75px;
    width: inherit;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hat{
    height: 50px;
    width: 50px;
    box-align:left;
    position: left center;
}

.active{
    background-color: #575757;
}
#box{
    text-align:center;
    background-color: #9d9aa5;
    color: white;
    overflow: auto;
    border-radius: 25px;
    word-wrap: break-word;
    padding: 10px;
    height: inherit;
    margin: auto;
    margin-top: 10px;
    max-width: 500px;
}

.column{
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin:30px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
.container{
    padding: 0 16px;
    border-radius: 50px;
}
.title{
    color:gray;
}
#center{
    text-align: center;

}
.no{
    text-decoration: none;
    color:black;
}
.no a{
    text-decoration: none;
    color: black;
}
.no a:hover{
    text-decoration: none;
    color: black;
}
/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  .column1{
    float: left;
    width: 45%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin:10px;
}
#column{
    max-width: 578px;
    margin-bottom: 16px;
    padding: 0 8px;
    margin: auto;
}